input {
    display: block;
    text-align: center;
    margin: auto
}
legend{
   margin:auto;
}

legend{
   margin: auto;
}

form{
   margin: auto;
   text-align: center;
   width: 40%;
   height: 50%
}

fieldset{
   background: rgb(190, 191, 226);
   box-shadow: 5px 4px 5px 5px rgba(0, 0, 0, 0.3);
}

#box{
    width: 20%;

}